*{
    margin:0;
    padding:0;
}

body{
    background-color: #B8E2C8;
    text-align: center;
}

.container{
    height : 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height:60vmin;
    width:60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:2vmin;
}
.box{
    height:18vmin;
    width:18vmin;
    border-radius: 0.5rem;
    border:none;
    box-shadow: 0 0 1rem rgb(0,0,0,0.3);
    font-size: 10vmin;
    color: #F85A3E;
    background-color: #ffffc7;
}
#reset-btn{
    background-color: #E6AF2E;
    border: none;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius:1rem;
    font-weight: 600;
    color: azure;
}
.winner{
    margin:10px;
    display: flex;
    justify-content: center;
}
.message{
    background-color: rgb(243, 67, 67);
    width:fit-content;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-style:oblique;
    color: green;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
}
.messagehide{
    display: none;
}

